DATABASE_URL=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE

# Google Cloud Storage. GCS_CREDENTIALS is optional when using Application Default Credentials.
GCS_BUCKET=your-bucket-name
GCS_PROJECT_ID=your-google-cloud-project-id
GCS_CREDENTIALS={"client_email":"service-account@project.iam.gserviceaccount.com","private_key":"-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"}
